line{
	shape-rendering: crispEdges;
}

path.domain{
	fill : none;
	stroke: black;
}

line{
	stroke: pink;
}

circle.tweets{
	fill: blue;
}

circle.retweets{
	fill: green;
}

circle.favorites{
	fill: red;
}